{
  "bases": {
    "1B": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "2B": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "3B": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "play_result": {
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "out": {
      "r": 40,
      "g": 40,
      "b": 40
    },
    "on_base": {
      "r": 35,
      "g": 80,
      "b": 120
    },
    "strikeout": {
      "r": 120,
      "g": 0,
      "b": 0
    },
    "homerun": {
      "r": 90,
      "g": 90,
      "b": 0
    }
  },
  "final": {
    "inning": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "nohit_text": {
      "r": 255,
      "g": 50,
      "b": 50
    }
  },
  "team_runline": {
    "r": 255,
    "g": 255,
    "b": 255
  },
  "inning": {
    "break": {
      "number": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "text": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up_divider": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "due_up_names": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    },
    "number": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "arrow": {
      "up": {
        "r": 255,
        "g": 235,
        "b": 59
      },
      "down": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    }
  },
  "outs": {
    "fill": {
      "1": {
        "r": 255,
        "g": 235,
        "b": 59
      }
    },
    "1": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "2": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "3": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "atbat": {
    "batter": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "pitcher": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "pitch": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "fast-pitch-bg": {
      "r": 181,
      "g": 46,
      "b": 13
    },
    "strikeout": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "pitch_count": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "batter_count": {
    "r": 255,
    "g": 235,
    "b": 59
  },
  "nohit_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "perfect_game_text": {
    "r": 255,
    "g": 110,
    "b": 110
  },
  "pregame": {
    "matchup": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "record": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "odds": {
      "r": 50,
      "g": 180,
      "b": 50
    },
    "starter_name": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "starter_stats": {
      "r": 50,
      "g": 180,
      "b": 180
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "start_time": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "warmup_text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "status": {
    "text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "postgame": {
    "winner": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "loser": {
      "r": 170,
      "g": 170,
      "b": 170
    }
  },
  "standings": {
    "nl": {
      "divider": {
        "r": 0,
        "g": 0,
        "b": 255
      }
    },
    "al": {
      "divider": {
        "r": 255,
        "g": 0,
        "b": 0
      }
    },
    "background": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "divider": {
      "r": 13,
      "g": 35,
      "b": 11
    },
    "stat": {
      "r": 171,
      "g": 181,
      "b": 170
    },
    "team": {
      "name": {
        "r": 171,
        "g": 181,
        "b": 170
      },
      "elim": {
        "r": 200,
        "g": 110,
        "b": 110
      },
      "clinched": {
        "r": 110,
        "g": 200,
        "b": 110
      },
      "stat": {
        "r": 171,
        "g": 181,
        "b": 170
      }
    }
  },
  "offday": {
    "scrolling_text": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "time": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "conditions": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "temperature": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "wind_speed": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "wind_dir": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "wind": {
      "r": 255,
      "g": 235,
      "b": 59
    },
    "weather_icon": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  },
  "network": {
    "background": {
      "r": 255,
      "g": 0,
      "b": 0
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "default": {
    "background": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "text": {
      "r": 255,
      "g": 235,
      "b": 59
    }
  }
}