{
  "ari": {
    "home": {
      "r": 227,
      "g": 212,
      "b": 173
    },
    "accent": {
      "r": 167,
      "g": 25,
      "b": 48
    },
    "alt-accent": {
      "r": 227,
      "g": 212,
      "b": 173
    }
  },
  "atl": {
    "home": {
      "r": 19,
      "g": 39,
      "b": 79
    },
    "accent": {
      "r": 206,
      "g": 17,
      "b": 65
    },
    "alt-accent": {
      "r": 234,
      "g": 170,
      "b": 0
    }
  },
  "bal": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "accent": {
      "r": 223,
      "g": 70,
      "b": 1
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "bos": {
    "home": {
      "r": 13,
      "g": 43,
      "b": 86
    },
    "accent": {
      "r": 189,
      "g": 48,
      "b": 57
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "chc": {
    "home": {
      "r": 14,
      "g": 51,
      "b": 134
    },
    "accent": {
      "r": 204,
      "g": 52,
      "b": 51
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "cws": {
    "home": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "accent": {
      "r": 200,
      "g": 200,
      "b": 200
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "cin": {
    "home": {
      "r": 198,
      "g": 1,
      "b": 31
    },
    "accent": {
      "r":255,
      "g":255,
      "b":255
    },
    "alt-accent": {
      "r": 198,
      "g": 1,
      "b": 31
    }
  },
  "cle": {
    "home": {
      "r": 0,
      "g": 43,
      "b": 92
    },
    "accent": {
      "r": 227,
      "g": 25,
      "b": 55
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "col": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "accent": {
      "r": 51,
      "g": 0,
      "b": 111
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "det": {
    "home": {
      "r": 12,
      "g": 44,
      "b": 86
    },
    "accent": {
      "r": 255,
      "g": 102,
      "b": 0
    },
    "alt-accent": {
      "r": 255,
      "g": 102,
      "b": 0
    }
  },
  "hou": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 98
    },
    "accent": {
      "r": 235,
      "g": 110,
      "b": 31
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "kc": {
    "home": {
      "r": 0,
      "g": 70,
      "b": 135
    },
    "accent": {
      "r": 192,
      "g": 154,
      "b": 91
    },
    "alt-accent": {
      "r": 192,
      "g": 154,
      "b": 91
    }
  },
  "laa": {
    "home": {
      "r": 186,
      "g": 0,
      "b": 33
    },
    "accent": {
      "r": 0,
      "g": 50,
      "b": 99
    }
  },
  "lad": {
    "home": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "accent": {
      "r": 0,
      "g": 90,
      "b": 156
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "mia": {
    "home": {
      "r": 0,
      "g": 163,
      "b": 224
    },
    "accent": {
      "r": 239,
      "g": 51,
      "b": 64
    },
    "alt-accent": {
      "r": 239,
      "g": 51,
      "b": 64
    }
  },
  "mil": {
    "home": {
      "r": 18,
      "g": 40,
      "b": 75
    },
    "accent": {
      "r": 225,
      "g": 197,
      "b": 47
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "min": {
    "home": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "accent": {
      "r": 211,
      "g": 17,
      "b": 69
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "nym": {
    "home": {
      "r": 0,
      "g": 45,
      "b": 114
    },
    "accent": {
      "r": 255,
      "g": 89,
      "b": 16
    },
    "alt-accent": {
      "r": 255,
      "g": 89,
      "b": 16
    }
  },
  "nyy": {
    "home": {
      "r": 19,
      "g": 36,
      "b": 72
    },
    "accent": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "oak": {
    "home": {
      "r": 0,
      "g": 56,
      "b": 49
    },
    "accent": {
      "r": 239,
      "g": 178,
      "b": 30
    },
    "alt-accent": {
      "r": 239,
      "g": 178,
      "b": 30
    }
  },
  "phi": {
    "home": {
      "r": 232,
      "g": 24,
      "b": 40
    },
    "accent": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "alt-accent": {
      "r": 232,
      "g": 24,
      "b": 20
    }
  },
  "pit": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "accent": {
      "r": 253,
      "g": 184,
      "b": 39
    },
    "alt-accent": {
      "r": 253,
      "g": 184,
      "b": 39
    }
  },
  "sd": {
    "home": {
      "r": 47,
      "g": 36,
      "b": 29
    },
    "accent": {
      "r": 255,
      "g": 196,
      "b": 37
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "sf": {
    "home": {
      "r": 0,
      "g": 0,
      "b": 0
    },
    "accent": {
      "r": 253,
      "g": 91,
      "b": 30
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "sea": {
    "home": {
      "r": 12,
      "g": 44,
      "b": 86
    },
    "accent": {
      "r": 0,
      "g": 92,
      "b": 92
    },
    "alt-accent": {
      "r": 255,
      "g": 196,
      "b": 37
    }
  },
  "stl": {
    "home": {
      "r": 196,
      "g": 30,
      "b": 58
    },
    "accent": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "alt-accent": {
      "r": 196,
      "g": 30,
      "b": 58
    }
  },
  "tb": {
    "home": {
      "r": 9,
      "g": 44,
      "b": 92
    },
    "accent": {
      "r": 143,
      "g": 188,
      "b": 210
    },
    "alt-accent": {
      "r": 245,
      "g": 209,
      "b": 48
    }
  },
  "tex": {
    "home": {
      "r": 0,
      "g": 50,
      "b": 120
    },
    "accent": {
      "r": 192,
      "g": 17,
      "b": 31
    },
    "alt-accent": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  },
  "tor": {
    "home": {
      "r": 19,
      "g": 74,
      "b": 142
    },
    "accent": {
      "r": 232,
      "g": 41,
      "b": 28
    },
    "alt-accent": {
      "r": 232,
      "g": 41,
      "b": 28
    }
  },
  "wsh": {
    "home": {
      "r": 171,
      "g": 0,
      "b": 3
    },
    "accent": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "alt-accent": {
      "r": 171,
      "g": 0,
      "b": 3
    }
  },
  "nl": {
    "home": {
      "r": 158,
      "g": 31,
      "b": 22
    },
    "accent": {
      "r": 20,
      "g": 34,
      "b": 88
    }
  },
  "al": {
    "home": {
      "r": 20,
      "g": 34,
      "b": 88
    },
    "accent": {
      "r": 158,
      "g": 31,
      "b": 22
    }
  },
  "default": {
    "home": {
      "r": 7,
      "g": 14,
      "b": 25
    },
    "accent": {
      "r": 255,
      "g": 255,
      "b": 255
    },
    "text": {
      "r": 255,
      "g": 255,
      "b": 255
    }
  }
}
